# Files created automatically by CSGO

## Default video settings based on your computer
videodefaults.txt
## Information about CSGO's Trust Launch security feature
trustedlaunch.cfg

## No idea what this is for, seems to store last map and your STEAMID
qmmconnect.dt

## Files created by one of my training maps
prac_cfg_default_post.cfg
prac_cfg_default_pre.cfg

## Silence video change spam
video.change*.txt

# Files created automatically by CS2

## CS2 files
sfm_default_animation_groups.vcfg
csgo_saved_item_shuffles.txt
user_keys_default.vcfg
cs2_video.txt.bak
cs2_*.vcfg
cs2_*.txt

# Private information files
private.cfg
server_secrets.cfg
