# Files created automatically by CSGO

## Default video settings based on your computer
videodefaults.txt
## Information about CSGO's Trust Launch security feature
trustedlaunch.cfg

## No idea what this is for, seems to store last map and your STEAMID
qmmconnect.dt

## Files created by one of my training maps
prac_cfg_default_post.cfg
prac_cfg_default_pre.cfg

## Silence video change spam
video.change*.txt
